<div class='breadcrumbs-container'>
  <%= link_to request.referrer, class: 'breadcrumb-link' do %>
    <span class="breadcrumb-icon icon-arrow-left"></span>
    <span class='nav-link-text'>back</span>
  <% end %>
</div>