<div class='footer-container'>
  <div class='footer-wrapper'>
    <div class='social-icon-wrapper'>
      <a href="mailto:pawel@mybema.com" target="_blank">
        <span class="social-icon icon-envelope"></span>
      </a>

      <a href="https://www.twitter.com/cynicalgrinch" target="_blank">
        <span class="social-icon icon-twitter"></span>
      </a>

      <a href="https://www.instagram.com/agameoftags" target="_blank">
        <span class="social-icon icon-instagram"></span>
      </a>
    </div>

    <div class='copyright-notice'>
      &copy; <%= Time.now.year %> A GAME OF TAGS |
      <%= link_to 'Privacy policy', privacy_path %> |
      <%= link_to 'Terms of use', terms_path %> |
      Made in <span class='za-flag'></span> for the love of Instagram.
    </div>
  </div>
</div>