<div class='main-container'>
  <%= render partial: 'shared/tabs' %>

  <div class="faq-container">
    <div class='faq-item'>
      <div class='faq-header'>
        <div class='faq-dot'></div>
        What kind of data does A Game of Tags provide?
      </div>

      <div class='faq-answer'>
        Our filter uses Instagram's API to fetch sets of related hashtags based on the input queries our users search with. It then does some calculations and provides the most relevant hashtags.
      </div>
    </div>

    <div class='faq-item'>
      <div class='faq-header'>
        <div class='faq-dot'></div>
        Is A Game of Tags free to use?
      </div>

      <div class='faq-answer'>
        Yes it is! However everyone is currently limited to a single search a day. We'll introduce premium accounts if there's any interest - this will help us add more server power so that our website won't explode due to search overload!
      </div>
    </div>

    <div class='faq-item'>
      <div class='faq-header'>
        <div class='faq-dot'></div>
        How do I begin?
      </div>

      <div class='faq-answer'>
        It's super simple - just sign up using your Instrgram account, get to know how things work by following a very short tutorial, and you'll be ready to make your first search.
      </div>
    </div>

    <div class='faq-item'>
      <div class='faq-header'>
        <div class='faq-dot'></div>
        Are results shown immediately?
      </div>

      <div class='faq-answer'>
        Sadly, no. Depending on how many search requests are being processed, your results may take a while to generate. It's kind of annoying, but there is an option to be notified via email when your hashtags are ready.
      </div>
    </div>
  </div>
</div>