<div class='terms-container'>
  <h1 class='terms-header'>
    A Game of Tags <br />
    Privacy Policy
  </h1>

  <p class='terms-paragraph'>
    A Game of Tags ("AGOT") understands that your privacy is important. We are committed to ensuring your privacy and protecting your Personal Information that we collect or receive as you use www.agameoftags.com (“Site”). Personal Information includes your name, email address, Instagram username, and any other information capable of personally identifying you. By submitting Personal Information to AGOT, you consent to AGOT’s use of your Personal Information as described in this Privacy Policy. In some cases, the Personal Information we will ask you to provide will be mandatory to access some parts of the Service. If you do not provide this Personal Information, your access to that particular part of the Service may be limited or disabled.
  </p>

  <h2 class='terms-bigger-sub-header'>
    Information We Collect
  </h2>

  <h2 class='terms-sub-header'>
    Personal Information
  </h2>

  <p class='terms-paragraph'>
    Personal Information is data capable of being used to identify and/or contact you personally. AGOT collects Personal Information when you register with AGOT, and when you purchase and use its products and services. As part of the registration process, you are required to connect your Instagram account. For certain products and services, AGOT may require additional Personal Information. AGOT also collects Personal Information voluntarily provided by you through, for example online forms, offline means, promotion participation, and email communication between you and AGOT.
  </p>

  <p class='terms-paragraph'>
    AGOT uses third party payment services to collect payments made through the Site. As part of the payment process you shall be directed to a webpage or web service that is hosted by the payment service provider or its appointee. Any Personal Information that you provide through a payment services page will be collected by the payment service provider and not by AGOT, and will be subject to the privacy policy of the payment service provider rather than this Privacy Policy. You understand and agree that AGOT has no control over and is not responsible for use of Personal Information collected by the payment services provider.
  </p>

  <p class='terms-paragraph'>
    AGOT may also collect Personal Information through means other than the Site, for example surveys, introductions, conference participation, and third party list services.
  </p>

  <h2 class='terms-sub-header'>
    Third party and Other Data
  </h2>

  <p class='terms-paragraph'>
    AGOT monitors the activity on its Site and Services using common software tools and third party service providers. We collect and track information on use of the Site including referral sources, search terms, network information, IP addresses, computer and browser types, and content viewed. Unless combined with Personal Information, this Other Data does not personally identify any user of the Site. AGOT uses third party service providers to collect and track statistical information regarding the use of the Site, and to prevent our servers from being abused.
  </p>

  <h2 class='terms-sub-header'>
    Cookies
  </h2>

  <p class='terms-paragraph'>
    A cookie is a small amount of data, which often includes an anonymous unique identifier, that is sent to your browser from a web site’s computers and stored on your computer’s hard drive. We use cookies to store your preferences, and to improve you access to and use of the Site. Cookies are required to use the Site, turning off cookies would mean not being able to login into the system.
  </p>

  <h2 class='terms-sub-header'>
    Browser Local Storage
  </h2>

  <p class='terms-paragraph'>
    Web applications can store data locally within the modern browsers in a storage called Local Storage. AGOT uses this browser feature for certain AGOT actions and features. Local Storage is required for these Site features, turning off Local Storage or using an older browser means not being able to use those Site features.
  </p>

  <h2 class='terms-bigger-sub-header'>
    How We Use The Information We Collect
  </h2>

  <p class='terms-paragraph'>
    AGOT uses collected information to provide services to respond to your requests for specific information about Instagram. Additionally AGOT may use stored data to complete business transactions, to conduct internal research about product development, to help us improve our services and delivery channels, and to execute marketing campaigns. You may elect to opt out of receiving marketing communications. From time to time we may use Personal information to contact or respond to you with certain communications relating to your AGOT account, your use of the Site and its Services, agreement and/or policy changes, transactions relevant to your use of the Site, and service and administrative announcements. You understand that you may not opt out of receiving such communications.
  </p>

  <p class='terms-paragraph'>
    You agree that AGOT may disclose Personal information with third parties in limited circumstances, including when complying with legal process, preventing fraud or imminent harm, and ensuring the security of our network and services; provided that in such circumstances AGOT will only disclose the limited Personal information that is required to be shared in the unique situation.
  </p>

  <p class='terms-paragraph'>
    AGOT does not rent or sell your Personal information with third party or non-affiliated companies. In the provision of certain services you request, for example payment processing, we may share your Personal information with third party service providers. Please note that the Privacy Policy does not address the privacy policy or information practices of any third parties. We reserve the right to transfer all Personal information in our system in the event that AGOT is sold, merged or otherwise assigned such that control rests with a different entity.
  </p>

  <p class='terms-paragraph'>
    AGOT uses Third party and Other Data to understand how the Site is used, to improve the user experience, and to better market our products and services. Third party and Other Data is also used to tailor marketing campaigns according to user need and our product mix.
  </p>

  <h2 class='terms-bigger-sub-header'>
    Reviewing And Managing Your Personal Information
  </h2>

  <p class='terms-paragraph'>
    All Personal Information collected by AGOT is stored in your account and is accessible to you at any time through the Site. Please take the time to review your Personal Information and keep it current and accurate, as required under the Terms of Services.
  </p>

  <h2 class='terms-bigger-sub-header'>
    Information Security
  </h2>

  <p class='terms-paragraph'>
    We have implemented reasonable measures to protect information collected, prevent unauthorized access to our servers, and to safeguard data. We have implemented such technology and security features ourselves or purchased them from specialised third parties, and we maintain strict internal guidelines to safeguard the privacy of your Personal Information from unauthorised access or improper use. Backups are run to prevent loss of information, and we will continue to enhance security as new technology becomes available. Access to your account requires you to connect your Instagram Account to the Site.
  </p>

  <p class='terms-paragraph'>
    Please note that despite AGOT's best measures, no website can guarantee data to be 100% secure.
  </p>

  <h2 class='terms-bigger-sub-header'>
    Changes To The Privacy Policy
  </h2>

  <p class='terms-paragraph'>
    AGOT may make changes to its Privacy Policy from time to time. We will notify you about significant changes in the way we treat Personal information by sending a notice to the email address specified in your AGOT Account or by placing a prominent notice on our site.
  </p>
</div>