<div class='terms-container'>
  <h1 class='terms-header'>
    A Game of Tags <br />
    Terms of Service
  </h1>

  <p class='terms-paragraph'>
    This is an Agreement between yourself ("User") and A Game of Tags ("AGOT") that describes the Terms of Service (“Terms”) regarding access and usage of this service, as well as any content you access on AGOT. Any online services or content on AGOT (referred to collectively as the “Services”) made available through www.agameoftags.com (“Site”) will require you to abide by these Terms. Please take the time to read this agreement carefully as it governs your use of the Site and Services.
  </p>

  <h2 class='terms-sub-header'>
    Agreement Acceptance
  </h2>

  <p class='terms-paragraph'>
    Each and all of the terms outlined in the Agreement apply without modification by you. They constitute the legally binding terms between you and AGOT. By using or accessing the Site and/or Services, or by agreeing to the Terms where the option is made available to you, you understand and agree to abide by these Terms of Service whether on your own behalf or on behalf of the company, business or organization you represent. If you do not agree, you may not use or access the Sites and Services.
  </p>

  <h2 class='terms-sub-header'>
    Amendments
  </h2>

  <p class='terms-paragraph'>
    From time to time, AGOT may revise, amend or otherwise change these Terms without prior notice to you. You acknowledge and agree that it is your responsibility to review these Terms of Service periodically for changes. You agree that your use of the Services after the effective date of such change will constitute your consent to the revised, amended, or otherwise changed Terms. If you do not agree to the changes, you must stop using the Services.
  </p>

  <h2 class='terms-sub-header'>
    Your Use of The Services
  </h2>

  <p class='terms-paragraph'>
    AGOT provides you with a limited, non-exclusive, non-transferable, personal and non-sub-licensable license to use the Site. Accordingly, you agree that you will not reproduce, duplicate, copy, sell, trade or resell the Services for any purpose. You must not obscure, alter, remove or delete any copyright or other proprietary notices contained in the Services. You will not copy, modify, adapt, translate or otherwise create derivative works of any of the Services obtained from the Site. You warrant that you will not attempt or assist others to attempt or actually reverse engineer, decompile, disassemble or otherwise attempt to discover the source code of the Software. You agree to comply with all applicable laws and regulations in your use of and access to the Site, Services, and Software.
  </p>

  <h2 class='terms-sub-header'>
    Provision Of The Services
  </h2>

  <p class='terms-paragraph'>
    You understand and agree that AGOT may modify, terminate, suspend, or otherwise adjust any and all aspects of the Services at any time without prior notice to you. You acknowledge and agree that if AGOT disables access to your account for non-payment or other material breach of the Terms, you may be prevented from accessing the Services, your account details or any files or other content which is contained in your account.
  </p>

  <h2 class='terms-sub-header'>
    Accounts and Security
  </h2>

  <p class='terms-paragraph'>
    As part of the registration process, you are required to create a AGOT account (“Account”). This requires you to connect your Instagram account, which provides AGOT some of your your personal information including, but not limited to, your name, Instagram username, and read-only access to your account information. Non-free AGOT accounts will require your to provide additional information including, but not limited to, your business name, business address, phone number, credit card, and email address. You agree that any registration information you give to AGOT will always be accurate, correct and up to date. You are responsible for protecting your own Instagram account as well as your AGOT Account from unauthorized access. You will be held responsible for any activity that occurs under your Account. You are solely responsible for any and all activity that occurs on or through your Account. You agree to notify AGOT immediately of any unauthorized use of your Account or password or any other breach of security. AGOT may access your Account from time to time to provide You assistance with technical or billing issues or in order to maintain or improve the Services.
  </p>

  <h2 class='terms-sub-header'>
    Billable Services
  </h2>

  <p class='terms-paragraph'>
    Certain features of the Site or the Services will be associated with charges or fees. All charges and fees are listed in U.S. Dollars unless expressly identified otherwise. You agree to pay any applicable charges and fees associated with your use of the Services. To access the parts of the Services that are associated with charges and fees, you must provide requested details and follow applicable billing procedures. Billing procedures are subject to change at any time without prior notice to you. By providing a payment method, you represent that you are authorized to use the payment method you provided and that the information provided by you is true and accurate. AGOT accounts are billed in advance on a monthly basis and are non-refundable. There will be no refunds or credits for partial months of Service, upgrade/downgrade refunds, or refunds for months unused with an open Account. In order to treat everyone equally, no exceptions will be made. Downgrading your Service may cause the loss of content, features, or capacity of your account. AGOT does not accept any liability for such loss. AGOT reserves the right to suspend or terminate your access to the Services for nonpayment.
  </p>

  <h2 class='terms-sub-header'>
    Content
  </h2>

  <p class='terms-paragraph'>
    You may use the data/content collected and displayed from your use of the Service solely for usage with the Instagram account that you have used to create your Account. You understand and acknowledge that such data/content may at times not be exhaustive. The data/content is based on data available to AGOT via the Official Instagram public API. AGOT does not verify the accuracy of data/content provided by such third parties. Any use of the data/content except as specifically described herein is strictly prohibited. Users should note that certain government regulations and/or compliance with applicable laws may prevent AGOT from using certain data/content or providing it to you. You agree that you shall evaluate and bear all risks associated with the Services, including any reliance on the accuracy, completeness, or integrity of such Services. By using the Site and Services, you represent and warrant that you have such knowledge and experience in financial and business matters that you are capable of evaluating the merits and risks of the information made available in the Site and Services, and make effective use of the Services provided by AGOT as an analytical tool. You acknowledge that the Services are made available to you without any warranties of any kind. By using the Services you understand and agree that your use of the Services is at your sole discretion and risk.
  </p>

  <p class='terms-paragraph'>
    The Site may contain links to other sites on the Internet which are owned and operated by Third Party Vendors and other third parties (the “External Sites”). You acknowledge that AGOT is not responsible for the availability of, or the materials located on or through, any External Sites.
  </p>

  <p class='terms-paragraph'>
    You acknowledge that by accessing the Site, you may come into contact with content that you find harmful, offensive, threatening, indecent or objectionable and you acknowledge that AGOT shall have no liability to you for the content including, but not limited to explicit language and other potentially offensive material.
  </p>

  <h2 class='terms-sub-header'>
    Restrictions
  </h2>

  <p class='terms-paragraph'>
    Mass account creation may result in suspension of all related accounts. Please note that any violation of these Terms of Service is cause for permanent suspension of all accounts.
  </p>

  <h2 class='terms-sub-header'>
    Cancelation Or Termination
  </h2>

  <p class='terms-paragraph'>
    You may cancel the Services at any time, with or without cause. You understand and accept that by canceling the Services: i) you may not receive a refund; ii) you may be obligated to pay all charges made to your billing account up to the time of cancellation; iii) you may lose access to and use of your Account and any Services and Services credits contained therein.
  </p>

  <p class='terms-paragraph'>
    You acknowledge and agree that AGOT may terminate your Account for cause with or without prior notice to you. Cause for termination includes but is not limited to infringement or violation of the Terms, partial or complete discontinuance of the Services and/or Site, extended periods of Account inactivity, requests to do so by law, and non-payment of fees or charges owed by you to AGOT.
  </p>

  <p class='terms-paragraph'>
    Cancelation or termination of your Account will result in immediate cessation of access to the Services, and deletion of your Account and all Services contained therein. All terminations are at the sole discretion AGOT, and you agree that AGOT shall not be liable to you or any third party as a result of Account termination.
  </p>

  <h2 class='terms-sub-header'>
    Proprietary Rights
  </h2>

  <p class='terms-paragraph'>
    You acknowledge and agree that the Site and Services are the exclusive property of AGOT and except as may be otherwise provided herein, AGOT does not grant any express or implied right in them to you. You agree not to remove, obscure, or alter any proprietary rights notices (including copyright and trade mark notices) which may be affixed to or contained within the Site. AGOT owns the copyright for the Site as a compilation, and all Services accessible from the Site. All content included on the Website, such as text, graphics, logos, button icons, images, data compilations, and software, is the property of AGOT or its content suppliers and protected by international copyright laws. Any third party marks displayed on the Site and/or Services are the property of their respective owners. You further acknowledge that the Services may contain information which is designated confidential and that you shall not disclose such information without AGOT’s prior written consent.
  </p>

  <h2 class='terms-sub-header'>
    DISCLAIMER OF WARRANTIES AND LIMITATION OF LIABILITY
  </h2>

  <p class='terms-paragraph'>
    TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, AGAMEOFTHRONES.COM AND ITS AFFILIATES, OFFICERS, EMPLOYEES, AGENTS, PARTNERS, AND LICENSORS EXPRESSLY DISCLAIM ALL WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, AS TO THE ACCURACY, ADEQUACY OR COMPLETENESS OF ANY OF THE INFORMATION CONTAINED IN THIS SITE OR CREATED BY THE SERVICES. THE MATERIALS, CONTENT ON THIS SITE AND SERVICES ARE PROVIDED TO YOU ON AN “AS IS” BASIS, WITHOUT ANY WARRANTIES AS TO MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE OR USE NOR WITH RESPECT TO THE RESULTS WHICH MAY BE OBTAINED FROM THE USE OF SERVICES. AGAMEOFTHRONES.COM MAKEs NO WARRANTY THAT i) THE SERVICES WILL MEET YOUR REQUIREMENTS: ii) THE SERVICES WILL BE ERROR-FREE, SECURE, OR UNINTERRUPTED; iii) ANY ERRORS WILL BE CORRECTED; AND iv) THE QUALITY OF THE SERVICES WILL MEET YOUR EXPECTATIONS. ANY SERVICES DOWNLOADED OR OTHERWISE ACCESSED THROUGH THE USE OF THE SITE IS AT YOUR OWN DISCRETION AND RISK AND AGAMEOFTHRONES.COM SHALL HAVE NO RESPONSIBILITY OR LIABILITY FOR ANY ERRORS OR OMISSIONS NOR SHALL IT BE LIABLE FOR ANY DAMAGES, WHETHER DIRECT OR INDIRECT, SPECIAL OR CONSEQUENTIAL, EVEN IF THEY HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM AGAMEOFTHRONES.COM OR ITS SERVICES SHALL CREATE ANY WARRANTY NOT EXPRESSLY STATED IN THE TERMS. IN NO EVENT SHALL THE LIABILITY OF AGAMEOFTHRONES.COM OR ANY OF THEIR AFFILIATES PURSUANT TO ANY CAUSE OF ACTION, WHETHER IN CONTRACT, TORT, OR OTHERWISE, EXCEED THE FEE PAID BY YOU FOR ACCESS TO SUCH SERVICES. FURTHERMORE, AGAMEOFTHRONES.COM SHALL HAVE NO RESPONSIBILITY OR LIABILITY FOR DELAYS OR FAILURES DUE TO CIRCUMSTANCES BEYOND THEIR CONTROL.
  </p>
</div>