<div class='searches-notice-container'>
  <h2 class='ctr-txt'>
    Oh no, you've got no searches left for today!
  </h2>

  <p class='searches-notice-paragraph ctr-txt'>
    We do have an explanation for this disappointment. <br />
    If you're curious to know why you're being limited, click to expand below:
  </p>

  <div class='chevron-dropdown-container'>
    <span id='daily-limit-chevron-btn' class="chevron-dropdown icon-chevron-down"></span>
  </div>

  <div id='daily-limit-explanation' class='hidden'>
    <h2 class='ctr-txt'>
      Why we're making you wait before you can search again...
    </h2>

    <p class='searches-notice-paragraph'>
      Explain about how intense the queries are because we care about getting the best data for our users. We're in the process of building a system to allow users to make multiple searches per day and not make this site fall over in the process. We're also adding really useful filters that will help block out unwanted hashtags from your results, as well as several other super secret, super awesome filters.
    </p>

    <p class='searches-notice-paragraph'>
      As we're building extending our platform to allow this, we're also putting the finishing touches on our plans to fund the possibility of this extension. The labour of making it is a labour of love, so that one's on us... free as in free beer. The maintenance is another matter.
    </p>

    <p class='searches-notice-paragraph'>
      Each time an AGOT user makes a request, our little server can get to work. And they work hard. When you make multiple searches, our little server has to work harder to get you back some nice really great hashtags. If thousands of other users start searching as well, our little server will basically have a seizure.
    </p>

    <p class='searches-notice-paragraph'>
      To prevent our little server from falling over, it needs to hit the gym and beef up. Right now it's a small server because it only gets so much pocket money every month. With a fair monetization model (don't worry we're keeping daily searches free!) we can ensure that little AGOT (introduce the server as that earlier) makes enough money to buy a premium gym membership, as well as all of the creatine and protein whey that its virtual arms can carry.
    </p>

    <p class='searches-notice-paragraph'>
      Of course there's no reason for any of this <strong>unless</strong> there's interest from users like you. If you'd love to be able to use powerful filters and perform multiple searches per day, please make your interest known by <%= link_to 'tweeting about #AGOT', '#' %>. We're monitoring that hashtag and if we see that you lovely people are interested, we'll speed this development process up. We'll also start gathering AGOT's server friends and get them ready to join what will hopefully be the "A Game of Tags" server fleet.
    </p>
  </div>
</div>