.hero-cta {
  background-color: $mainBlue;
  border: none;
  border-radius: 2px;
  color: $white;
  margin-right: 10px;
  max-width: 300px;
  padding: 10px;
  transition: all 0.3s ease 0s;
  width: 45%;
}

.hero-cta:hover {
  background: #0079CE;
  cursor: pointer;
}

.ht-search-btn {
  margin-top: 1em;
}

.input-field-title {
  cursor: default;
  display: block;
  font-size: 1.15em;
  padding: 0.5em 0;
  box-shadow: none;
}

.input-warning {
  background-color: $inputErrorColor;
}

.profile-mngmt-email-btn {
  background-color: $mainBlueHover;
  border: none;
  border-radius: 0 2px 2px 0;
  color: $white;
  display: inline-block;
  line-height: 1em!important;
  font-size: 15px!important;
  font-weight: 400!important;
  padding: 10px;
  transition: all 0.3s ease 0s;
  min-width: 10em;
  &:hover {
    background: #0079CE;
    cursor: pointer;
  }
}

.profile-mngmt-email-field {
  border: 1px solid #ccc;
  height: 37px;
  margin-left: 1em;
  padding: 0.75em;
  width: 50%;
}

.tag-search-input {
  border: 1px solid #ccc;
  padding: 0.35em;
  width: 90%;
}

.top-hashtags-btn {
  display: block;
  text-align: center;
  width: auto;
}

.top-hashtags-btn:hover {
  color: $white;
}

.user-mngmt-email-btn {
  background-color: $mainBlue;
  border: none;
  border-radius: 0 2px 2px 0;
  color: $white;
  float: left;
  line-height: 1em!important;
  font-size: 15px!important;
  font-weight: 400!important;
  padding: 10px;
  transition: all 0.3s ease 0s;
  width: 25%;
  &:hover {
    background: #0079CE;
    cursor: pointer;
  }
}

.user-mngmt-email-field {
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  float: left;
  height: 37px;
  margin-left: 1em;
  padding: 0.35em;
  width: 70%;
}

.usr-mngmt-form {
  clear: both;
  display: block;
}

@media (max-width: 680px) {
  .hero-cta {
    border-radius: 5px;
    display: block;
    margin: 0.5em auto;
    width: auto;
  }

  .msc-results-btn {
    background-color: $mainBlue;
    border: none;
    border-radius: 2px;
    color: $white;
    display: inline-block;
    margin-top: 0.4em;
    padding: 6px 10px;
    transition: all 0.3s ease 0s;
    text-align: center;
    width: 100%;
    &:hover {
      color: $white;
      background-color: $mainBlueHover;
    }
  }

  .tag-search-input {
    width: 100%;
  }

  .user-mngmt-email-btn {
    width: auto;
  }

  .user-mngmt-email-field {
    margin-left: 0.5em;
    padding: 0.35em;
    width: 60%;
  }
}