$black: #000;
$borderGray: #d3d6db;
$darkGray: rgba(141, 144, 147, 0.47);
$lightGray: #AAA;
$veryLightGray: #EEE;
$naturalBlack: #313131;
$white: #FFF;

$inputErrorColor: rgba(230,132,132, 0.4);
$closeTagRed: red;

$mainBlue: rgba(0,141,222, 1);
$mainBlueHover: rgba(0,121,206, 1);

$successGreen: #8fd190;