<div class='main-container'>
  <div class='processing-container'>
    <h1 class='processing-header ctr-txt'>
      Got it!
    </h1>

    <div class='processing-text ctr-txt'>
      We'll send you an email when your hashtags are ready.
    </div>
  </div>
</div>